language: scala

jdk:
  - oraclejdk8

scala:
   - 2.11.8
   - 2.12.1

cache:
  directories:
    - $HOME/.m2
    - $HOME/.sbt
    - $HOME/.ivy2

before_install:
  - export PATH=${PATH}:./vendor/bundle

install:
  - rvm use 2.2.3 --install --fuzzy
  - gem update --system
  - gem install sass
  - gem install jekyll -v 3.2.1

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage validateJVM

after_success:
  - sbt coverageReport && sbt coverageAggregate && sbt codacyCoverage
  - bash <(curl -s https://codecov.io/bash)

branches:
  only:
    - master